<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <!-- <div class="card"> -->
            <div class="text-center">
                <h3>Register New Employee</h3>
            </div>
            <form [formGroup]="registrationForm" (ngSubmit)="registerAdmin()">
                <div class="form-group col md-6">
                    <input id="enameInp" class="form-control" formControlName="ename" type="text" placeholder="Employee Full Name">
                </div>
                <div class="row">
                    <div class="form-group col md-6">
                        <input class="form-control" formControlName="username" type="text" placeholder="Username">
                    </div>

                    <div class="form-group col md-6">
                        <input class="form-control" formControlName="email" type="text" placeholder="Email">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col md-6">
                        <input class="form-control" formControlName="mobile" type="text" placeholder="Mobile Number">
                    </div>
                    <div class="form-group col md-6">
                        <input class="form-control" formControlName="designation" type="text" placeholder="Designation">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col md-6">
                        <input class="form-control" formControlName="password" type="password"
                            placeholder="Set Password">
                    </div>
                    <div class="form-group col md-6">
                        <input class="form-control" formControlName="confPassword" type="password"
                            placeholder="Confirm Password">
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-light" [disabled]="registrationForm.invalid">Register</button> <br>
                    <button (click)="navigateToEmployeeList()" class="btn btn-primary my-2">Employee List </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- </div> -->



<router-outlet></router-outlet>