.card{
    font-family: 'Montserrat', sans-serif;
    background:transparent ;
    background: linear-gradient(90deg,rgba(56, 6, 150, 0.568),rgba(255, 255, 255, 0.349) );
}
.card1{
    background:transparent ;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0.397),rgba(0, 0, 0, 0.137) );
    color: light;
    margin-left: 5px;
}