<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card"> 
               <div class="text-center">
                <h3>Register New Admin</h3>
                <form [formGroup]="registrationForm" (ngSubmit)="registerAdmin()">
                        <div class="form-group col md-6">
                            <input class="form-control" formControlName="name" type="text" placeholder="Name">
                        </div> 
                         <div class="form-group col md-6">
                            <input class="form-control" formControlName="username" type="text" placeholder="Username">
                        </div>
                    <div class="form-group col md-6">
                        <input class="form-control" formControlName="password" type="password" placeholder="Set Password">
                    </div>
                    <div class="form-group col md-6">
                        <input class="form-control" formControlName="confPassword" type="password" placeholder="Confirm Password">
                    </div>
                    <button class="btn btn-outline-light">Register</button>  
                    <button class="btn btn-link btn-reg" routerLink="/login" >Already have account Login instead</button>
                </form>
               </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>