<h5 style="text-align: center;"> Employee Details</h5>
<table class="text-center table table-dark">
       <tr>
           <th>Name </th>
        <td>{{emp.ename}}</td>
    </tr>
    <tr>
        <th>Email </th>
        <td>{{emp.email}}</td>
    </tr>
    <tr>
        <th>Mobile </th>
        <td>{{emp.mobile}}</td>
    </tr>
    
    <tr>
        <th>Designation </th>
        <td>{{emp.designation}}</td>
    </tr>
    <tr>
        <th>Username </th>
        <td>{{emp.username}}</td>
    </tr>
    <tr>
        <th>Password </th>
        <td>{{emp.password}}</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;">
            <button class="btn btn-outline-light" (click)="getBack()">back</button>
        </td>
    </tr>
</table>

