/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom,rgba(99, 44, 201, 0.534),rgba(255, 255, 255, 0.808) ),
    url("/assets/images/background3.jpg");

    background-repeat:no-repeat;
    background-size: cover;
}
